/* banner */
.banner {
	background-image: url("../../assets/banners/certificate.png");
	min-height: 700px;
	display: flex;
	flex-direction: column;
}

.banner-content {
	flex: 1;
	width: 100%;
	text-align: center;
	color: #ffffff;
	align-content: center;
}

.banner-title {
	font-size: 62px;
	font-weight: bold;
	line-height: 45px;
	margin: 0 0 40px 0;
}

.banner-text {
	font-size: 20px;
	font-weight: bold;
	margin: 0;
}

/* menu */
.menu {
	padding: 0 312px;
	display: flex;
	border-bottom: #e6e6e6 1px solid;
	text-align: center;
}

.menu-item {
	flex: 1;
	color: #737373;
	font-size: 18px;
	padding: 15px;
}

.menu-item.active {
	color: #e60012;
	font-weight: bold;
	border-bottom: #e60012 2px solid;
}

/* introduce */
.introduce {
	padding: 50px 312px 300px;
}

.introduce-content {
	display: flex;
	align-items: center;
	gap: 42px;
}

.introduce-line {
	width: 40px;
	height: 1px;
	background-color: #e60012;
}

.introduce-title {
	width: 280px;
	color: #1b1b1b;
	font-size: 48px;
	font-weight: bold;
}

.introduce-text {
	width: 480px;
	color: #8e8e8f;
	font-size: 20px;
}

.introduce-img {
	background-image: url(../../assets/certificate/support-certificate.png);
	height: 424px;
	position: relative;
}

.introduce-box {
	position: absolute;
	width: 305.6px;
	height: 305.6px;
	box-sizing: border-box;
	top: 271px;
	left: 81px;

	background-color: #e60012;
	color: #ffffff;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
}

.introduce-box-text {
	width: 170px;
	font-size: 24px;
	font-weight: bold;
}

/* board */
.board {
	padding: 0 312px;
}

.board-contents {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.board-content {
	color: #1b1b1b;
	text-align: center;
	border-bottom: #e6e6e6 1px solid;
}

.board-img-container {
	background-color: #f5f5f5;
	padding: 28px 22px;
}

.board-img {
	object-fit: cover;
}

.board-title {
	padding: 20px 30px 10px;
	font-size: 20px;
	font-weight: 500;
}

.board-text {
	font-size: 14px;
	font-weight: 300;
	margin: 0 0 50px;
}

.board-pages {
	text-align: center;
	margin: 50px;
}

.board-page {
	color: #8e8e8f;
	font-size: 16px;
	/* margin: 0 10px; */
	padding: 10px;
}

.board-page.active {
	color: #e60012;
	border-bottom: #e60012 2px solid;
}
