.logo {
	color: #e60012;
	font-size: 18px;
	display: flex;
	gap: 25px;
}

.logo-img {
	width: 20px;
	object-fit: contain;
	transform: rotate(180deg);
}

/* company */
.container {
	padding: 0px 180px 100px 230px;
	display: flex;
	justify-content: space-between;
}

.company-logo {
	left: -45px;
	margin-top: 100px;
	margin-left: 180px;
}

.company-contents {
	width: 450px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.company-title {
	font-size: 50px;
	font-weight: bold;
	margin: 0;
}

.company-text {
	font-size: 18px;
	font-weight: 300;
	color: #737373;
}

.company-detail {
	width: 300px;
	color: #737373;
	margin-top: 30px;
}

.company-detail-flex {
	display: flex;
	justify-content: space-between;
}

.company-detail-arrow {
	color: #e60012;
}

.company-pictures {
	display: flex;
	gap: 30px;
}

.company-img,
.company-pictue-title,
.company-pictue-text {
	width: 288px;
}

.company-img {
	height: 288px;
}

.company-pictue-title {
	font-size: 24px;
	font-weight: bold;
}

.company-pictue-text {
	font-size: 15px;
	color: #737373;
}

/* why dexcowin */
.why {
	height: 980px;
	margin: 0;
	padding: 130px 180px 0 180px;
	background-image: url("../../assets/support/background.png");
	background-size: cover;
}

.why-logo {
	transform: rotate(0);
}

.why-container {
	padding-left: 45px;
}

.why-slogan {
	color: #ffffff;
	font-size: 42px;
	font-weight: bold;
	width: 560px;
}

.why-more {
	width: 150px;
	background-color: #e60012;
	color: #ffffff;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 10px 0;
	border-radius: 50px;
	margin-bottom: 70px;
}

.why-content {
	display: flex;
	justify-content: end;
	gap: 20px;
}

.why-item {
	box-sizing: border-box;
	background-color: #ffffff;
	width: 296px;
	height: 400px;

	display: grid;
	grid-template-rows:
		auto /* number */
		auto /* title - 고정 */
		100px /* text - 고정 */
		auto; /* icon */

	padding: 36px;
}

.why-item-num {
	color: #e60012;
	font-size: 65px;
	font-weight: bold;
	margin: 0;
}

.why-item-title {
	font-size: 26px;
	font-weight: bold;
	margin: 0;
}

.why-item-text {
	color: #737373;
	font-size: 15px;
}

.why-item-icon {
	width: 96px;
	height: 96px;
	align-self: end;
	justify-self: end;
}

/* Who we are */
.who-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-top: 120px;
}

.who-slogan {
	font-size: 42px;
	font-weight: bold;
	margin: 0;
}

.who-badge {
	width: 100px;
	padding: 10px;
	border-radius: 50px;
	background-color: #e60012;
	color: #ffffff;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

/* 갤러리 래퍼 */
.gallery-page {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.gallery-wrapper {
	position: relative;
	border-radius: 24px;
	padding: 48px;
}

/* 갤러리 컨테이너 */
.gallery-container {
	position: relative;
}

/* 사진 아이템 */
.photo-item {
	position: absolute;
	transform-origin: center center;
	transition: all 0.3s ease;
	cursor: pointer;
	z-index: 1;
}

/* 사진 래퍼 */
.photo-wrapper {
	position: relative;
}

/* 사진 이미지 */
.photo-image {
	object-fit: cover;
	border-radius: 8px;
}

.center-content {
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.center-title {
	font-size: 62px;
	font-weight: 800;
	margin: 0;
}

.center-subtitle {
	font-size: 24px;
	font-weight: 400;
	margin: 0;
}

.center-text {
	color: #737373;
	font-size: 18px;
	margin: 50px 0;
	text-align: center;
}

/* Support */
.support {
	margin: 0;
	padding: 0 180px;
}

.support-container {
	padding-left: 45px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	gap: 33px;
}

.support-title {
	width: 670px;
	font-size: 50px;
	font-weight: bold;
	margin: 0;
}

.support-detail {
	width: 150px;
	color: #737373;
	font-size: 18px;
	font-weight: 600;
}

.news-item {
	flex: 1;
	border: #d2d2d2 0.5px solid;
	margin: 65px 0;
	display: grid;
	grid-template-rows:
		auto /* category */
		100px /* title */
		150px /* text */
		50px /* date*/;
	padding: 50px 50px 10px 50px;
}

.news-item-category {
	color: #e60012;
	font-size: 18px;
	font-weight: bold;
}

.news-item-title {
	color: #1b1b1b;
	font-size: 22px;
	font-weight: bold;
}

.news-item-text {
	color: #737373;
	font-size: 16px;
	margin-bottom: 70px;
}

.news-item-date {
	color: #737373;
	font-size: 15px;
	align-self: center;
}

.support-link {
	flex: 1;
	display: flex;
	justify-content: space-between;
	color: #ffffff;
	padding: 50px;
	margin-bottom: 100px;
}

.support-link-title {
	font-size: 22px;
	font-weight: bold;
}

.support-link-text {
	font-size: 15px;
}

.support-link-img {
	object-fit: contain;
}

.bg-red {
	background-color: #e60012;
}

.bg-blue {
	background-color: #2e3091;
}
