/* banner */
.main-banner {
	min-width: 100vw;
	height: 100%;
	flex-shrink: 0;
	margin: 0;
	background-size: cover;
	box-sizing: border-box;

	color: #ffffff;

	display: flex;
	flex-direction: column;
	padding-left: 176px;
}

.banner-1 {
	width: 600px;
	font-size: 20px;
	line-height: 24px;
	font-weight: 500;
	padding-top: 240px;
	margin: 0;
}
.banner-2 {
	width: 725px;
	font-size: 68px;
	line-height: 69px;
	font-weight: 800;
	margin-top: 10px;
	margin-bottom: 38px;
}
.banner-3 {
	width: 401px;
	font-size: 22px;
	line-height: 34px;
	font-weight: 400;
	margin: 0;
}

.carousel-container {
	width: 100vw;
	height: 100vh;
	display: flex;
	/* justify-content: center; */
	/* align-items: center; */
	overflow: hidden;
}

.carousel-image-container {
	/* width: 100%; */
	height: 100%;
	display: flex;
	align-items: center;
	flex-shrink: 0;
}

.carousel-indicators {
	display: flex;
	align-items: end;
	gap: 8px;
	margin-top: 30px; /* banner-3 아래 간격 */
}

.indicator {
	width: 111px;
	height: 1px;
	background-color: #ffffff;
	transition: height 0.3s ease;
}

.indicator.active {
	height: 5px;
	background-color: #ffffff;
}
