/* product */
.product {
	height: fit-content;
	padding: 100px 180px 100px 120px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.product-logo-box {
	width: fit-content;
	display: flex;
	margin-top: 100px;
	margin-bottom: 100px;
}

.product-logo {
	text-align: center;
}

.product-logo-img {
	transform: rotate(-90deg);
}

.product-logo-text {
	margin-top: 20px;
	writing-mode: sideways-lr;
}

.product-big {
	writing-mode: sideways-lr;
	font-size: 152px;
	font-weight: 800;
	color: #cbcbcd;
	margin: 0;
}

.product-carousel-box {
	position: relative;
	background-color: #f6f7f9;
	width: 1030px;
	height: 813px;
}

.product-carousel-img {
	position: absolute;
	left: -250px;
	width: 770px;
	height: 680px;
}

.product-carousel-list {
	position: absolute;
	left: 0;
	bottom: 0;
	background-color: #ffffff;
	width: fit-content;
	display: flex;
	gap: 20px;
	padding: 13px 20px 5px 0;
}

.product-carousel-item {
	width: 111px;
	height: 111px;
	padding: 10px;
	box-sizing: border-box;
	background-color: #f6f7f9;
}
.product-carousel-item.active {
	background-color: #e60012;
}

.product-carousel-content {
	width: 400px;
	padding-left: 550px;
	padding: 80px 0 140px 550px;
	display: grid;
	grid-template-rows:
		auto /* badge */
		100px /* title */
		80px /* subtitle */
		120px /* text */
		auto; /* buttons */
	gap: 10px;
}

.product-carousel-badge {
	width: fit-content;
	padding: 10px;
	border-radius: 50px;
	background-color: #e60012;
	color: #ffffff;
	font-family: "Inter";
	font-size: 14px;
	font-weight: bold;
}

.product-carousel-title {
	font-size: 54px;
	font-weight: 800;
	align-self: center;
}

.product-carousel-subtitle {
	color: #e60012;
	font-size: 26px;
	font-weight: bold;
	white-space: pre-line;
	align-self: center;
}

.product-carousel-text {
	color: #737373;
	font-family: "Inter";
	font-size: 16px;

	white-space: pre-line;
	align-self: center;
}

.product-carousel-btns {
	display: flex;
	gap: 20px;
	margin-top: 10px;
	align-self: start;
}

.product-carousel-btn {
	width: 84px;
	height: 84px;
	border: #d9d9d9 solid 4px;
	border-radius: 50%;
	background-color: #f6f7f9;

	color: #d9d9d9;
	font-size: 30px;
	text-align: center;
	align-content: center;
}
