/* Header */
.header {
	width: auto;
	height: 100px;
	margin: 0 100px;

	display: flex;
	justify-content: end;
	align-items: center;
	gap: 63px;

	border-bottom: #e6e6e6 0.5px solid;
}

.white {
	color: #ffffff;
}

.header-icon {
	height: 31.85px;
	margin-right: auto;
}

.header-link {
	box-sizing: border-box;

	height: 100%;
	align-content: center;
	font-weight: bold;
	font-size: 18px;
	padding: 0 5px;
}

.header-link.active {
	border-bottom: #e6e6e6 3.5px solid;
}

.header *:hover {
	cursor: pointer;
}

/* Footer */
.footer {
	position: relative;

	background-color: #000000;
	color: #cbcbcd;

	display: flex;
	flex-direction: row;
	gap: 70px;
	padding: 50px;
}

.footer-icon {
	width: 186.59px;
	height: 25.29px;
}

.footer-text {
	flex: 1;
}

.footer-link {
	font-size: 16px;
	font-weight: 100;
}

.footer-link > a {
	font-weight: bold;
}

.footer-inform {
	margin: 40px 0;
	font-size: 14px;
}

.footer-address {
	width: auto;
	display: flex;
	font-weight: 300;
	gap: 10px;
}

.footer-contact {
	font-family: "Inter";
	display: flex;
	gap: 10px;
}

.footer-address-title,
.footer-contact-title {
	color: #edeff3;
	font-weight: bold;
}

.footer-sns {
	margin-left: auto;
	display: flex;
	flex-direction: row;
	gap: 14.82px;
}
.footer-top {
	position: absolute;
	right: 50px;
	top: -35px;

	font-family: "Inter";
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	align-content: center;

	background-color: #e60012;
	color: #ffffff;
	width: 71px;
	height: 71px;
}

.footer-copy {
	font-family: "Inter";
	color: #cbcbcd;
	font-size: 14px;
	margin-top: 20px;
}
