:root {
	font-family: "Pretendard";
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: #000000;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

/* 기본 스타일 초기화 */

body {
	margin: 0;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #737373;
}

button {
	border: 0;
	text-align: start;
}

*:hover {
	cursor: default;
}

.hover:hover,
.hover *:hover {
	cursor: pointer;
}
